{
    "printWidth": 180,
    "arrowParens": "always",
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "./resources/css/app.css",
    "overrides": [
        {
            "files": [
                "*.php"
            ],
            "options": {
                "parser": "blade"
            }
        },
        {
            "files": [
                "*.svelte"
            ],
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
