{
    "printWidth": 120,
    "arrowParens": "always",
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
